.index{
    font-family: sans-serif;
    margin: 10% auto;
    width: 50%;
}

table{
    border-collapse: collapse;
    width: 100%;
}

table,th,td{
    border: 1px solid #ddd;
    padding: 10px;
}

th{
    background-color: antiquewhite;
}

.group-form{
    width: 100%;
    margin: 2%;
}

.alert-success{
    background-color: #4CAF50;
    border-radius: 3px;
    border: 1px solid lightseagreen;
    padding: 1%;
    margin: 5px;
    color:white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.hide{
    display:none;
}

label {
    width: 100%;
    float: left;
}

input,select {
    border-radius: 4px;
    border: lightgray solid 1px;
    padding: 5px;
    font-size: 15px;
}

.button-success{
    background-color: #4CAF50;
    padding: 10px;
    border: #4CAF50 solid 2px;
    color: white;
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}

.button-success:hover{
    border-color: #4CAF50;
    color: #4CAF50;
    background-color: white;
}
